*{
    padding: 0;
    margin: o;
}
.logo {
    height: 40px;
    margin-right: 10px;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .navbar-nav .nav-link {
    margin-right: 15px;
  }
  .banner{
    background-image: url(./freestocks-_3Q3tsJ01nc-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100dvh;
}
.banner-heading{
    margin-top: 250px;
}
.jumbotron{
    padding: 80px 0px !important;
}
.jave{
    font-style: italic;
    padding: 30px 2px;
    letter-spacing: 5px;
    font-weight: 350;
}
.push{
    padding: 30px 0px;
    font-size: 25px;
    word-spacing: 20px;
}
.navbar-toggler{
   outline: none !important;
}
.sub-headings{
    color: #990000;
}
.banner-btn{
    outline: none;
}
body{
    background-color: lightgrey;
    line-height: 30px;
}
.jave{
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
}
.push{
    opacity: 0;
    animation: fade-in 5s ease-in-out forwards;
}
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.dividers{
    padding-top: 100px !important;
}
#icons{
    padding: 40px 0px;
}
span{
    color: #990000;
}
.down{
    padding-top: 50px;
}
.why-us{
    background-image: url(./bruno-kelzer-LvySG1hvuzI-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.item{
    background-color: white;
    margin: 20px;
    padding: 10px;
    text-align: center;
    height: max-content;
}

#star{
    margin: 30px 0px;
}
#options{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.carousel-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .carousel-content h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .carousel-content p {
    font-size: 16px;
  }
#caro,#say{
    padding: 40px;
}
#say{
    color: #9900005d;
}
.contact{
    background-color: black;
    color: white;
}
#last-logo{
    height: 50px;
    margin-top: 60px;
}
#social-img{
    height: 30px;
    margin: 20px;
    cursor: pointer;
    margin-bottom: 40px;
}
.choose{
    padding: 40px;
}

  @media only screen and (max-width:600px){
    #options{
        display: grid;
    }
    .Choose-wraper{
        padding: 20px;
        background-color: white;
        margin: 20px;
        width: 350px
    }
    #last-mail{
        height: 50px;
        width: 150px;
        margin-top: 10px;
        cursor: pointer;
        outline: none;
        color: black;
        background-color: white;
        font-size: 1rem;
        font-weight: 400px;
        margin-bottom: 40px;
        outline: none;
        border: 1px solid black;
        cursor: pointer;
        margin-left: 150px;
    }
    #detials{
        height: 40px;
        max-width: 930px;
        overflow: hidden;
        outline: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.315);
        padding-left: 10px;
        border: 1px solid white;
        margin: 30px;
    }
    .jumbotron{
        padding: 80px 10px !important;
    }
    .jave{
        font-style: italic;
        padding: 5px 2px;
        letter-spacing: 5px;
        font-weight: 350;
        font-size:35px ;
    }
    .push{
        padding: 5px 0px;
        font-size: 15px;
        word-spacing: 20px;
    }
    .dividers{
        text-align: center;
    }
    #navbar-toggler{
      background-color: #72111173;
      text-align: center;
      margin: 0 !important;
      padding: 0 !important;
    }
    .banner{
        background-image: url(./freestocks-_3Q3tsJ01nc-unsplash.jpg);
        background-size: cover !important;
        background-position: center top !important;
    }
    .why-us{
        background-image: url(./bruno-kelzer-LvySG1hvuzI-unsplash.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
    }
  }