@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins:wght@100;200;300&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins:wght@100;200;300&family=Raleway:ital,wght@0,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins:wght@100;200;300&family=Raleway:ital,wght@0,100;1,300&family=Source+Sans+Pro:wght@200&display=swap');
*{
    padding: 0;
    margin: o;
}
html{
    scroll-behavior: smooth;
}
.logo {
    height: 40px;
    margin-right: 10px;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-nav .nav-link {
    margin-right: 15px;
}
.kai{
    padding: 0px 20px;
}

.shift img{
    width: 100% !important;
}
.banner-heading{
    margin-top: 250px;
}
.jumbotron{
    padding: 80px 40px !important;
}
.final{
    text-align: justify;
    padding: 0px 25px;
}
.confidence{
    background-color: white;
}
.confidence h2{
    padding: 40px 0px;
    color: #990000;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-toggler{
   outline: none !important;
}
.sub-headings{
    color: #9900007e;
}
.banner-btn{
    outline: none;
}
#confidence-box{
    padding: 40px 40px;
}
header{
    background-color: #807c75;
}
body{
    background-color: lightgrey;
    line-height: 30px;
    font-family:'Poppins', sans-serif;
}
.first{
    font-size: 3rem;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
}
.second{
    color: lightgrey;
    padding-top: 30px;
    word-spacing: 10px;
    font-size: 2rem;
}
.first{
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
}
.second{
    opacity: 0;
    animation: fade-in 5s ease-in-out forwards;
}
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.dividers{
    padding-top: 10px !important;
}
#icons{
    padding: 40px 0px;
}
span{
    color: #990000;
}
.down{
    padding-top: 50px;
}
.why-us{
    background-image: url(./bruno-kelzer-LvySG1hvuzI-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.item{
    background-color: white;
    margin: 20px;
    padding: 10px;
    text-align: center;
    height: 1200px;
}

#star{
    margin: 30px 0px;
    height: 30px;
}
.cart{
    height: 70px;
    margin: 40px 0px;
}
#options{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.choose{
    padding: 40px;
}
.bg-set{
    position: relative;
    display: inline-block;
    z-index: 0;
  }
  
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
  }
.contact-wraper{
    background-color: white;
    padding: 30px 0px;
    border: 1px solid rgba(0, 0, 0, 0.404);
}
.contact-wraper div{
    padding: 0px 0px;
}
.reach{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px 0px;
}
#mail{
    padding: 40px 0px 0px 20px;
}

input{
    width: 300px;
    outline: none;
    padding: 0px 10px;
}
.btn-send{
    width: 100px;
    color: white;
    background-color: black;
    outline: none;
}
.btn-send:hover{
   color: black;
   background-color: white;
   border: 1px solid black;
}
.media-holder img{
    height: 30px;
    margin: 30px 50px;
    cursor: pointer;
}
.media-holder img:hover{
 border-bottom: 3px solid #990000;
}
.review{
    padding: 10px 30px;
}

.quote{
    height: 40px;
    margin: 20px 0px;
}
.new{
    height: 700px;
    margin: 50px 0px;
}
.aim{
    padding: 0px 20px;
}
.service{
    padding: 50px 0px;
}

.final-paragraph{
    padding: 30px 10px;
}



  @media only screen and (max-width:768px){
    #options{
        display: grid;
    }
    .Choose-wraper{
        padding: 20px;
        background-color: white;
        margin: 20px;
        width: 350px
    }
    #last-mail{
        height: 50px;
        width: 150px;
        margin-top: 10px;
        cursor: pointer;
        outline: none;
        color: black;
        background-color: white;
        font-size: 1rem;
        font-weight: 400px;
        margin-bottom: 40px;
        outline: none;
        border: 1px solid black;
        cursor: pointer;
        margin-left: 150px;
    }
    #detials{
        height: 40px;
        max-width: 930px;
        overflow: hidden;
        outline: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.315);
        padding-left: 10px;
        border: 1px solid white;
        margin: 30px;
    }
    .jumbotron{
        padding: 80px 10px !important;
    }
    .dividers{
        text-align: center;
    }
    .navbar-toggler{
      text-align: center;
      margin: 0 !important;
      padding: 0 !important;
      text-align: center;
      outline: none;
    }

    .why-us{
        background-image: url(./bruno-kelzer-LvySG1hvuzI-unsplash.jpg);
        background-attachment: initial;
        background-position: center;
        background-size: cover;
    }
    .first{
        font-size: 1.5rem;
        letter-spacing: 5px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 800;

    }
    .second{
        color: lightgray;
        padding-top: 10px;
        font-size: .9rem;
    }
    .contact-wraper{
        padding: 0px 40px;
    }
    .btn-send{
        color: white;
        background-color: black;
        outline: none;
    }
    .media-holder img{
        height: 30px;
        margin: 30px;
        cursor: pointer;
        margin-top: 60px;

    }
    .final{
        text-align: justify;
        padding: 0px 25px;
        font-size: 1rem;
    }
    .carousel-content p{
        font-size: 0.8rem;
    }
    .carousel-content h3{
        font-size: 1rem;
    }
    body h2{
        font-size: 1.7rem;
    }
    body h3{
        font-size: 1.4rem;
    }
    .item{
        background-color: white;
        margin: 20px;
        padding: 10px;
        text-align: center;
        height: 600px;
    }
    .aim{
        font-size: 1rem;
    }
    .reduce{
        font-size: 1rem;
    }

  }